<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %> welcome to Uclic !</h1>
    <p>
      You have registered on Uclic using the following e-mail address : <%= @user.email %>.
    </p>
    <p>
      To access your customer area, log in via : <%= @url %>.
    </p>
    <p> See you soon on Uclic !
  </body>
</html>